<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='stylesheet' type='text/css' href='/static/main.css' />
		<link rel='icon' href='data:,' />
		<title>{{title}}</title>
	</head>
	<body>
		<header class='header'>
			<h1>Filmer vi visar!</h1>
		</header>

		<main class='main'>
			{{{body}}}
		</main>
		<footer class='footer'>Här tar det slut!</footer>
	</body>
</html>