<a href='/'>Gå tillbaka till förstasidan!</a>

<div class='movieInfo'>
	<h1>{{movie.attributes.title}}</h1>
	<p class='intro'>{{movie.attributes.intro}}</p>
	{{#if movie.attributes.image}}
		<img src='{{movie.attributes.image.url}}' />
	{{/if}}
</div>